# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env

# MacOS
.DS_Store

# IDEs
.idea/
.vscode/

# Build directories
client/dist/
dist/
dist-ssr/
*.local

# Google Cloud Keys
*credentials*.json
server/config/*.json
